* { box-sizing: border-box; }
body { background-color: #55485a;
       color: #f3ebed; 
       font-family: Arial, Helvetica, sans-serif; } 

#wrapper{   background-color: #55485a;           
			background-image: linear-gradient(to bottom,
                              #3bcf16, #2a32e6); }    
header { background-color: #2a326e;
         color: #FFFFFF;
         height: 120px;
         text-align: center; }
nav { text-align: center;
      font-weight: bold;
      padding: 0;
      font-size: 120%; }	
h1 { margin-bottom: 0;
     margin-top: 0;
     font-family: Georgia, 'Times New Roman', serif;
     padding-top: 0.5em;
     padding-bottom: .05em;
     letter-spacing: 0.25em; }        
h2 { color: #1976D2;
     text-shadow: 1px 1px #CCCCCC;
     font-family: Georgia, 'Times New Roman', serif;}
h3 { color: #f3ebed;}     
     	  	  
dt { color: #f3ebed; }
.resort { color: #1976D2; font-weight: bold;
    } 
	 
header a { text-decoration: none;
         }
header a:link {color: #FFFFFF; }  
header a:visited { color: #FFFFFF; }
header a:hover { color: #90C7E3; } 		 		
nav a { text-decoration: none;
        transition: color 2s ease-out; }
         		 
nav ul { list-style-type: none;
         margin: 0;
		 padding-left: 0;
         font-size: 1.2em; } 
nav li { border-bottom: 1px solid #002171; }

nav a:link {color: #5c7fa3; }  
nav a:visited { color: #344873; }
nav a:hover { color: #a52a2a; }     		 
h1, h2 { font-family: 
             Georgia, "Times New Roman", serif; }
h3 { font-family: 
             Georgia, "Times New Roman", serif; color: #000033 }
main ul { list-style-image: url(marker.gif); }			 
footer { text-align: center;
         font-style: italic;
		 font-size: 75%;
		 font-family: Georgia, "Times New Roman", serif;
         padding: 2em;
         background-color: #FFFFFF;		 }
main { 	
        
		background-color: #121111;
        padding: 1px 20px 20px 20px;
        display: block;
        padding-left: 30px;	
        overflow: auto;
        }		
#contact { font-size: 90%; }	
	
#homehero { height: 300px;
            background-image: url(coast2.jpg); 			
            background-repeat: no-repeat; 
            background-size: 100% 100%; }
#yurthero { height: 300px;
            background-image: url(yurt.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;	}		
#trailhero { height: 300px;
             background-image: url(trail.jpg);
	     background-repeat: no-repeat;
             background-size: 100% 100%; }
        			
table { border-collapse: collapse; }

td, th { padding: 0.5em;
         border: 2px solid #3399CC;}

td { text-align: center; }

.text { text-align: left } 

tr:nth-of-type(odd) { background-color:#55485a; }	

form { display: flex;
       flex-direction: column;
	   flex-wrap: nowrap; } 

input, textarea { margin-bottom: 0.5em; }	

video { float: right;
        margin: 1em;}


@media (min-width: 600px) {  
        nav ul { display: flex;
	         flex-direction: row;
		 flex-wrap: nowrap;
                 justify-content: space-around; }
                 
nav li { border-bottom: none; }

section { margin-left: 2em;
          margin-right: 2em;
          flex: 1;  }

.flow { display: flex;
        flex-direction: row; } 
        
form {  display: grid;
		grid-template-rows: auto;
		grid-template-columns: 6em 1fr;
		grid-gap: 1em; gap: 1em;
                max-width: 30em; width: 60%; }
        
input[type="submit"] { grid-column: 2 / 3;
                       width: 9em; }         
                       
@media (min-width: 1024px) {
   #wrapper { 
        margin: auto;
        width: 80%;
        border: 1px solid #002171;
        box-shadow: 3px 3px 3px #002171;
   }   
 
nav { text-align: left;
      padding-left: 1em; }

@supports (display: grid) 
   { nav ul { flex-direction: column; 
              padding-top: 1em; }      

.hero { grid-area: hero; } 

header { grid-area: header; }

nav { grid-area: nav; }

main { grid-area: main; }

footer { grid-area: footer; }

#wrapper { display: grid;
           grid-template: 
           "header header"
           "nav hero"
           "nav main"
           "nav footer"
           / 180px 1fr; }}

   }                 
}
				 

	
